<div class="search">
	<%= render 'search_form' %>
	<% if !@flights.blank? %>
		<div class="header">
			<div class="info">Flight #</div>
			<div class="info">Depart</div>
			<div class="info">Arrive</div>
			<div class="info">Travel<br>Time</div>
		</div>
		<%= render 'flight_choice_form' %>
	<% end %>
</div>