<h1><%= "#{@flight.from_airport.code} to #{@flight.to_airport.code}" %></h1>
<p>
	<b>Origin:</b> <%= @flight.from_airport.name %>
</p>
<p>
	<b>Destination:</b> <%= @flight.to_airport.name %>
</p>
<p>
	<b>Travel Date:</b> <%= date_format(@flight.date) %>
</p>
