.search{
	display: block;
	text-align: center;
	padding-top: 50px;
}

.header{
	padding-top: 50px;
	font-size: 20px;
	text-align: center;

}

.info{
	display: inline-block;
	text-align: center;
	padding: 30px;
}

.flight_info{
	text-align: center;
}

.label{
	text-align: left;
	padding-left: 525px;
}